@{
    ViewData["Title"] = "Home Page";
}

<style>
    .hidden {
        display: none;
    }
</style>

<div class="text-center">
    <div>
        <label for="locationInput">Enter Location:</label>
        <input type="text" id="locationInput" />
        <button type="button" onclick="updateWeather()">Get Weather</button>
        <div id="errorMessage"></div>
    </div>

    <div id="weatherInfo" class="hidden">
        <h1>Current Weather</h1>
        <p>Temperature: <span id="temperature"></span>&deg;C</p>
        <p>Humidity: <span id="humidity"></span>%</p>
        <p>Description: <span id="weatherDescription"></span></p>
        <p>Sunrise: <span id="sunRise"></span></p>
        <p>Sunset: <span id="sunSet"></span></p>
        <iframe id="mapIframe" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="" style="border: 1px solid black"></iframe>
 
        <body> 
                <div id="forecastContainer"></div>
        </body>
    </div>
</div>

<script>
    function refreshMap(latitude, longitude) {
        var iframe = document.getElementById('mapIframe');
        var src = `https://www.openstreetmap.org/export/embed.html?bbox=${longitude - 0.008}%2C${latitude - 0.005}%2C${longitude + 0.008}%2C${latitude + 0.005}&amp;layer=mapnik`;
        iframe.src = src;
    }

    function fetchCurrentWeather(url) {
        fetch(url)
            .then(response => {
                if (response.ok) { 
                    return response.json(); 
                } else {
                    document.getElementById('errorMessage').textContent = 'Please enter a valid location.'; 
                    return null;  // Resolve with null to avoid console error
                }
            })
            .then(data => {
                if (data.main == null) 
                { 
                    document.getElementById('errorMessage').textContent = 'Please enter a valid location.';
                    return;
                } 
                                 
                document.getElementById('temperature').textContent = data.main.temp;
                document.getElementById('humidity').textContent = data.main.humidity;
                document.getElementById('weatherDescription').textContent = data.weather[0].description;

                const sunriseDate = new Date(data.sys.sunrise * 1000);
                const sunsetDate = new Date(data.sys.sunset * 1000);
                 
                const formattedSunriseTime = sunriseDate.toLocaleTimeString();
                const formattedSunsetTime = sunsetDate.toLocaleTimeString();                                      

                document.getElementById('sunRise').textContent = formattedSunriseTime;
                document.getElementById('sunSet').textContent = formattedSunsetTime;

                refreshMap(data.coord.lat, data.coord.lon);

                // Show the weather information
                document.getElementById('weatherInfo').classList.remove('hidden'); 
                document.getElementById('errorMessage').textContent = '';
            })
            .catch(error => { 
                document.getElementById('errorMessage').textContent = 'Please enter a valid location.';
            });
    }
      
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
            (position) => {
                // Handle the user's current position
                var url = '/Home/GetWeatherByLatLong?lat=' + position.coords.latitude + "&lon=" + position.coords.longitude;
                fetchCurrentWeather(url);
                var url = '/Home/Get5DayForecastByLatLong?lat=' + position.coords.latitude + "&lon=" + position.coords.longitude;
                fetchNextFiveDayWeather(url);
            },
            (error) => {
                console.error(error);
            }
        );
    } else {
        // Geolocation is not supported
        console.log("Not Supported");
    }  

    function updateWeather() {
        var location = document.getElementById('locationInput').value;
        var url = '/Home/GetWeatherByLocation?location=' + encodeURIComponent(location);

        // Check if the location is not empty
        if (location !== '') {
            var url = '/Home/GetWeatherByLocation?location=' + encodeURIComponent(location);
            fetchCurrentWeather(url);
            var url = '/Home/Get5DayForecastByLocation?location=' + encodeURIComponent(location);
            fetchNextFiveDayWeather(url);
        } else {
            // Display an error message or take appropriate action for empty location
            document.getElementById('errorMessage').textContent = 'Please enter a valid location.';
        }
    }


    function isSameDay(date1, date2) {  
        return date1.substr(0, 10) === date2.substr(0, 10);
    }   

    class NextDaysData {
        constructor() {
            this.date = "";
            this.averageTemperature = 0;
        }
    }

    function fetchNextFiveDayWeather(url) {
        fetch(url)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    document.getElementById('errorMessage').textContent = 'Please enter a valid location.';
                    return null;  // Resolve with null to avoid console error
                }
            })
            .then(data => {
                if (data == null) 
                { 
                    document.getElementById('errorMessage').textContent = 'Please enter a valid location.';
                    return;
                }                 

                const forecastContainer = document.getElementById('forecastContainer');
                // Clear previous content
                forecastContainer.innerHTML = '';
                 
                var currentTime = new Date().toISOString(); 
                currentTime = currentTime.substr(0, 10); 

                const nextCoupleDaysForecast = [];

                let averageTemperature = 0;
                let dateSets = 0;


                data.forEach(day => {
                    if (isSameDay(day.dt_txt, currentTime)) {                  
                        averageTemperature += day.main.temp;
                        dateSets++;    
                    } else { 
                        const nextDay = new NextDaysData();
                        nextDay.date = currentTime;
                        nextDay.averageTemperature = (averageTemperature / dateSets);
                        nextCoupleDaysForecast.push(nextDay);

                        averageTemperature = day.main.temp;
                        dateSets = 1; 
                        currentTime = day.dt_txt;
                    }
                });

                let startIndex = 0;

                if (nextCoupleDaysForecast[0].date == new Date().toISOString().substr(0, 10)){
                    startIndex++; //Skip if its the current day
                } 

                const dayElement = document.createElement('div');
                    dayElement.className = 'day';

                    dayElement.innerHTML = `
                        <h2>${5 - startIndex} Day Weather Forecast</h2>  
                    `;

                    forecastContainer.appendChild(dayElement);             
                

                for (let i = startIndex; i < nextCoupleDaysForecast.length; i++){
                    const dayElement = document.createElement('div');
                    dayElement.className = 'day';

                    dayElement.innerHTML = `
                        <p>Date: ${nextCoupleDaysForecast[i].date.substr(0, 10)}</p>
                        <p>Temperature: ${nextCoupleDaysForecast[i].averageTemperature.toFixed(2)} °C</p> 
                        <hr>
                    `;

                    forecastContainer.appendChild(dayElement);
                }
            })
            .catch(error => {
                document.getElementById('errorMessage').textContent = 'Please enter a valid location.';
            });
    }

</script>
